@import url(/css/body.css);
@import url(/css/main.css);
@import url(/css/footer.css);
header {
    display: grid;
    grid-template-areas: "a b";
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 5px;
}
header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgoldenrodyellow;
    border: 2px solid black;
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
.RT {
    margin-right: 75px;
}
main {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20%;
    margin-right: 20%;
}
table {
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
    border: 3px solid black;
}

tr,td {
    padding: 20px;
}